h1{
    color: rgb(2, 6, 28);
}
body{
    font-family: sans-serif;
}
.communities{
    margin-bottom: 5px;
    height: 700px;
    color: rgb(40, 36, 36);
}
.commWrapper{
    height: 70vh;
    width: 80vw;
    display: flex;
    margin: 10px 0px 0px 50px;
}
.firstLane{
    flex: 2;
    background-color: yellow;
}
.town{
    text-align: center;
    background-color: rgb(23, 86, 245);
    color: white;
    padding: 5px;
    margin: 20px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
}
.secondLane{
    flex: 2;
    background-color: pink;
} 
.thirdLane{
    flex: 2;
    background-color: rgb(176, 220, 176);
}
.fourthLane{
    flex: 2;
}
.fifthLane{
    flex: 2;
}
.sixthLane{
    flex: 2;
}